<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>



 






<div class="slide-container swiper">
  <div class="slide-content">
    <div class="card-wrapper swiper-wrapper">
       <div class="card swiper-slide">
        <div class="image-content">      
        <span class="overlay"></span>
          <div class="card-image">
            <img src="images/team1.jpg" alt="" class="card-img">
          </div>
        </div>
       
       <div class="card-content">
        <h2 class="aboutfirstperson">Alina</h2>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur amet eaque explicabo voluptas maxime quidem cupiditate? Nostrum corporis ullam doloribus vitae saepe? Pariatur cupiditate, sit necessitatibus aliquid similique asperiores debitis!</p>
        <button class="button">Contact</button>
       </div>
      </div>

      <div class="card swiper-slide">
        <div class="image-content">
          <span class="overlay"></span>


          <div class="card-image">
            <img src="images/team2.jpg" alt="" class="card-img">
          </div>
        </div>
       
       <div class="card-content">
        <h2 class="aboutfirstperson">Alina</h2>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur amet eaque explicabo voluptas maxime quidem cupiditate? Nostrum corporis ullam doloribus vitae saepe? Pariatur cupiditate, sit necessitatibus aliquid similique asperiores debitis!</p>
        <button class="button">Contact</button>
       </div>
      </div>

      <div class="card swiper-slide">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="card-image">
            <img src="images/team3.jpg" alt="" class="card-img">
          </div>
        </div>
       
       <div class="card-content">
        <h2 class="aboutfirstperson">Alina</h2>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur amet eaque explicabo voluptas maxime quidem cupiditate? Nostrum corporis ullam doloribus vitae saepe? Pariatur cupiditate, sit necessitatibus aliquid similique asperiores debitis!</p>
        <button class="button">Contact</button>
       </div>

      </div>
    </div>
  </div>
  <div class="swiper-button-next aboutnext"></div>
  <div class="swiper-button-prev aboutprev"></div>
  <div class="swiper-pagination aboutpaggination"></div>
</div>