
$color-blue:blue;
$color-red:rgb(255, 0, 13);
$color-green:rgb(23, 101, 37);
$color-menu:rgb(15, 56, 0);

/* Primary Colors */
$primary-red: #ff0000;
$primary-green: #00ff00;
$primary-blue: #0000ff;
$primary-yellow: #ffff00;
$primary-purple: #800080;
$primary-orange: #ffa500;
$primary-cyan: #00ffff;
$primary-magenta: #ff00ff;
$primary-black: #000000;
$primary-white: #ffffff;
$primary-gray: #808080;
$primary-golderoad:goldenrod;

/* Secondary Colors */
$secondary-dark-red: #8b0000;
$secondary-dark-green: #006400;
$secondary-dark-blue: #00008b;
$secondary-dark-yellow: #bdb76b;
$secondary-dark-purple: #4b0082;
$secondary-dark-orange: #ff8c00;
$secondary-dark-cyan: #008b8b;
$secondary-dark-magenta: #8b008b;
$secondary-light-gray: #d3d3d3;

/* Accent Colors */
$accent-light-green: #90ee90;
$accent-light-blue: #add8e6;
$accent-light-yellow: #ffffe0;
$accent-light-purple: #e6e6fa;
$accent-light-orange: #ffdab9;
$accent-light-cyan: #e0ffff;
$accent-light-magenta: #ffb6c1;
$accent-dark-gray: #a9a9a9;

/* Background Colors */
$background-light-gray: #f5f5f5;
$background-dark-gray: #696969;

/* Text Colors */
$text-black: #000000;
$text-white: #ffffff;
$text-gray: #808080;

/* Border Colors */
$border-light-gray: #dcdcdc;
$border-dark-gray: #696969;
