
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
  {{!-- style sheet --}}
<link rel="stylesheet" href="stylesheets/style.css">
<body>
    
<div class="container-fluid thanksfeedcontainer">
    <div class="row Feedthanksrow">
        <h1>Thanks for your Feedback</h1>
        <button><a href="/main">Home</a></button>
    </div>
</div>
</body>
</html>

